@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Roboto+Mono&display=swap");

* {
	font-family: "Nunito", sans-serif;
}

body {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
}

header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 85px;
	max-height: 85px;

	background-image: linear-gradient(rgb(68, 162, 255), #adf3ff);
	box-shadow: 0px 4px 4px lightblue;

	z-index: 5;
}

header #title span {
	font-size: min(8vmin, 2.4rem);
	font-weight: bold;
	margin: 0 2px;

	transform: translateY(0);
	animation: dropDown 1s ease-in both;
	animation-delay: calc(0.07s * var(--i));
}

@keyframes dropDown {
	0% {
		transform: translateY(-200px);
	}
	80% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}
header #container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}
header #menu {
	position: absolute;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #menu #button {
	position: absolute;
	right: 10px;
	width: 10vmin;
	height: 10vmin;
	max-width: 50px;
	max-height: 50px;
	border-radius: min(1vmin, 20px);
	box-shadow: 0 0px 10px rgb(64, 152, 240);
	background-image: linear-gradient(rgb(68, 162, 255), #adf3ff);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

#menuButton,
#menuButton::before,
#menuButton::after {
	position: relative;
	height: min(0.7vmin, 3px);
	background-color: white;

	transition: 0.4s ease;
}
header #menuButton {
	width: 60%;
}
header #menuButton::before {
	content: "";
	position: absolute;
	top: -10px;
	width: 85%;
	left: 0;
	right: 0;

	margin: 0 auto;
}

header #menuButton::after {
	content: "";
	position: absolute;
	top: 10px;
	width: 85%;

	left: 0;
	right: 0;
	margin: 0 auto;
}

header #menu.active #menuButton {
	transform: rotate(45deg);
}
header #menu.active #menuButton::before {
	top: 0;
	width: 100%;
	transform: rotate(-90deg);
}

header #menu.active #menuButton::after {
	top: 0;
	width: 100%;
	transform: rotate(-90deg);
}

header #bombSet {
	position: absolute;

	width: 0px;
	height: 0px;
	max-width: 300px;
	right: 10px;

	z-index: -1;
	overflow: hidden;

	transition: 1s;
	transition-delay: 0.2s;
	transform: translateY(-500px);
}
header #menu.active #bombSet {
	position: absolute;

	width: 92%;
	height: 300px;

	z-index: -1;

	transform: translateY(65%);
	transition: 0s ease;
}

header #numberOfBombs {
	position: relative;

	width: 100%;
	height: 100px;
	border-radius: 20px;

	background-image: linear-gradient(
		to top,
		rgb(184, 241, 255) 10%,
		rgb(162, 227, 250)
	);
	z-index: -1;

	transition: 0.3s ease-in-out;
	transform: translateY(-500px);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 800;
}

header #menu.active #bombSet #numberOfBombs {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(0);
}

header #numberOfBombs #bombimage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	font-size: 1.8rem;
}

header #numberOfBombs #numArea {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 120px;
}
header #numberOfBombs #num {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
	border-radius: 5px;

	font-size: 3rem;
	font-weight: bold;
	text-align: center;

	box-shadow: 0 5px 5px gray;
}
header #numArea .numUpDown {
	content: "";
	position: relative;

	width: 30px;
	height: 100px;
	margin: 0 15px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 2px 5px rgb(15, 15, 61);
}
header #numArea .numUpDown:active {
	box-shadow: 0 2px 1px rgb(15, 15, 61);
	top: 4px;
}

header #numArea .numUpDown::before {
	content: "";
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	width: 0;
	height: 0;
	border-style: solid;

	filter: drop-shadow(0 2px 2px gray);
}
header #numArea .numUpDown:first-child::before {
	border-width: 15px 10px 15px 0;
	border-color: transparent dodgerblue transparent transparent;
}
header #numArea .numUpDown:last-child::before {
	border-width: 15px 0 15px 10px;
	border-color: transparent transparent transparent dodgerblue;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
}

header #numberOfBombs #set {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;

	width: 40%;
	height: 15%;
	background-image: linear-gradient(
		to bottom right,
		rgb(250, 232, 69) 60%,
		rgb(211, 211, 211)
	);
	border-radius: 10px 10px 20% 20%;
	box-shadow: 2px 5px 5px grey;
	color: rgb(24, 24, 107);
	cursor: pointer;
}

header #numberOfBombs #set:active {
	top: 4px;
	box-shadow: 2px 2px 1px grey;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	overflow: hidden;
	user-select: none;
}

.content .navbar {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 550px;
	max-width: 550px;
	padding-top: 40px;
	margin-bottom: 40px;

	font-size: 2rem;

	overflow: hidden;
}

.navbar .info {
	position: relative;
	display: flex;
	justify-content: space-between;

	width: 130px;
	max-width: 130px;

	font-weight: bold;
}

.navbar .info span {
	animation: showUp 1.5s ease-out both;
	animation-delay: calc(1.5s + 0.08s * var(--i));
}

@keyframes showUp {
	0% {
		transform: translateY(100px);
	}
	40% {
		transform: translateY(-20px);
	}

	80%,
	100% {
		transform: translateY(-5px);
	}
}

.navbar .info::before {
	content: "";

	position: absolute;
	width: 110%;
	height: 4px;
	max-height: 4px;

	left: 50%;
	transform: translateX(-50%);

	bottom: 2px;

	filter: drop-shadow(0px 3px 2px #93ccec);

	z-index: 1;
	background-color: dodgerblue;
}

.gameField {
	position: relative;
	display: flex;
	text-align: center;
	justify-content: center;

	min-width: 470px;
	min-height: 470px;
	width: 600px;
	height: 600px;
	max-width: 600px;
	max-height: 600px;

	background-color: rgb(18, 57, 139);
	padding: 10px;

	box-shadow: 5px 5px 5px gray;

	z-index: 0;
}

.gameField .field {
	position: relative;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	grid-gap: 4px;

	width: 100%;
}

.gameField .field span {
	position: relative;
	background-color: white;
	background-image: linear-gradient(
		to bottom right,
		dodgerblue 0%,
		lightblue
	);
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 35px;
	font-weight: bold;
	color: black;
	box-shadow: 0 0 4px rgb(18, 57, 139);

	transition: transform 0.5s ease-in;
}

.gameField .field span.notOpened:hover {
	opacity: 0.8;
}

.gameField #announce {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	bottom: min(0.6vmin, 5px);

	overflow: hidden;
	z-index: -1;
}

.gameField #announce.active {
	animation: zIndexOff 0.5s ease-in forwards;
}

@keyframes zIndexOff {
	0% {
		z-index: 100;
	}
	99% {
		z-index: 100;
	}
	100% {
		z-index: -1;
	}
}

.gameField #clear {
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 17vmin;
	max-height: 110px;

	transform: translateX(-120%);
	transition: 0.5s linear both;

	box-shadow: 0 3px 5px black;

	background-image: linear-gradient(
		rgb(61, 105, 250),
		rgb(59, 157, 255),
		rgb(29, 82, 255)
	);
}

.gameField #clear.active {
	animation: clearbarReady 0.5s ease-in both;
}
@keyframes clearbarReady {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120%);
	}
}

#announce span {
	position: relative;
	display: flex;
	align-items: center;

	font-size: min(13vmin, 80px);
	font-weight: 800;

	color: yellow;
	filter: drop-shadow(3px min(1vmin, 5px) rgb(11, 11, 65));
	margin: 0 5px;

	bottom: min(0.5vmin, 5px);
	opacity: 1;
	transform: rotate(var(--deg)) translateY(calc(min(2vmin, 11px) * var(--y)));
}
.gameField #announce.appear {
	z-index: 100;
	animation: none;
}

.gameField #clear.appear {
	animation: clearbar 0.7s ease-in both;
}
@keyframes clearbar {
	0% {
		transform: translateX(120%);
	}
	100% {
		transform: translateX(0);
	}
}

.gameField #announce.appear #clear.appear span {
	animation: clear 0.4s ease-out both;
	animation-delay: calc(0.15s + 0.1s * var(--i));
	transform: rotate(var(--deg)) translateY(calc(min(2vmin, 11px) * var(--y)));
}
@keyframes clear {
	0% {
		opacity: 0;
		transform: scale(0) rotate(90deg) translateX(1000%);
	}
	80% {
		opacity: 1;
		transform: scale(1) rotate(var(--deg)) translateX(-10px)
			translateY(calc(min(1.5vmin, 11px) * var(--y)));
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(var(--deg))
			translateY(calc(min(1.5vmin, 11px) * var(--y)));
	}
}

.gameField #boom {
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 17vmin;
	max-height: 110px;

	transition: 0.5s linear both;
	transform: translateX(-120%);
}

.gameField #boom.active {
	animation: boomReady 0.5s ease-in both;
}
@keyframes boomReady {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-120%);
	}
}
.gameField #boom.appear {
	animation: boombar 0.7s ease-in both;
}
@keyframes boombar {
	0% {
		transform: translateY(120%);
	}
	100% {
		transform: translateX(0);
	}
}

.gameField #announce.appear #boom.appear span {
	animation: boom 0.4s ease-out both;
	animation-delay: calc(0.15s + 0.1s * var(--i));
	transform: rotate(var(--deg)) translateY(calc(min(2vmin, 11px) * var(--y)));
}
@keyframes boom {
	0% {
		opacity: 0;
		transform: scale(0) translateY(100%);
	}
	50% {
		opacity: 1;
		font-size: min(18vmin, 150px);
		transform: scale(1) rotate(var(--deg))
			translateY(calc(min(2vmin, 15px) * var(--y)));
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(var(--deg))
			translateY(calc(min(1.5vmin, 11px) * var(--y)));
	}
}

.flag {
	background-size: 100%;
	background-position: center;
}
.bomb {
	background-size: 90%;
	background-position: center;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 60%;
	margin: 40px 0;

	font-weight: bold;
	font-size: 2rem;
}

.option #restart {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 200px;
	height: 70px;
	min-width: 110px;
	min-height: 38px;

	max-width: 200px;
	max-height: 70px;

	background-image: linear-gradient(
		to bottom right,
		rgb(250, 232, 69) 60%,
		rgb(211, 211, 211)
	);
	border-radius: 10px 10px 20% 20%;
	box-shadow: 2px 5px 5px gray;

	color: rgb(24, 24, 107);

	cursor: pointer;
	overflow: hidden;
}

#restart span {
	transform: translateY(0);
	animation: restartPop 0.4s ease-in-out both;
	animation-delay: calc(2.5s + 0.09s * var(--i));
}

@keyframes restartPop {
	0% {
		transform: translateY(-50px);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(0);
	}
}

.option #restart:active {
	box-shadow: 2px 2px 1px gray;
	top: 4px;
}

@media screen and (max-width: 768px), (max-height: 1100px) {
	header {
		height: 15vmin;
	}
	.gameField {
		min-width: 100px;
		min-height: 100px;
		width: 80vmin;
		height: 80vmin;

		padding: min(1.5vmin, 10px);
	}
	.gameField .field {
		grid-gap: min(0.8vmin, 4px);
	}
	.gameField .field span {
		font-size: 5vmin;
	}

	.content .navbar {
		width: 80vmin;
		font-size: min(5vmin, 2rem);
		padding-top: min(10vmin, 40px);
		margin-bottom: min(5vmin, 40px);
	}
	.navbar .info {
		width: 20vmin;
	}

	.navbar .info::before {
		height: 0.5vmin;
		bottom: 2px;
	}

	.option {
		margin: min(5vmin, 40px) 0;
	}
	.option #restart {
		width: 27vmin;
		height: 10vmin;

		font-size: min(5vmin, 2rem);
	}
}

@media screen and (max-height: 1100px) {
	header {
		height: 8vh;
	}

	header #menu #button {
		width: 8vmin;
		height: 8vmin;
	}

	.content {
		top: min(5vh, 50px);
	}

	.content .navbar {
		width: 60vmin;

		padding-top: min(3vh, 40px);
		margin-bottom: min(3vmin, 40px);
	}
	.navbar .info {
		font-size: min(4vmin, 2rem);
		width: 15vmin;
	}

	.gameField {
		width: 50vmin;
		height: 50vmin;
	}

	.gameField .field span {
		font-size: 3.5vmin;
	}
	.gameField #clear {
		height: 12vmin;
	}
	#announce span {
		font-size: min(7vmin, 100px);
	}
}

@media screen and (max-width: 768px) and (max-height: 1100px) {
	.content {
		top: min(8vmin, 80px);
	}
	header #menuButton::before {
		top: -7px;
	}
	header #menuButton::after {
		top: 7px;
	}
	.gameField {
		width: 80vmin;
		height: 80vmin;
	}
	.gameField .field span {
		font-size: 5vmin;
	}
	.content .navbar {
		width: 70vmin;

		padding-top: min(3vh, 40px);
		margin-bottom: min(5vmin, 40px);
	}
	.navbar .info {
		font-size: min(5vmin, 2rem);
		width: 20vmin;
	}
}

@media screen and (max-width: 768px) and (max-height: 665px) {
	.gameField {
		width: 70vmin;
		height: 70vmin;
	}
	.gameField .field span {
		font-size: 4vmin;
	}
}


@media screen and (max-width: 500px) {
	header #bombSet {
		left: 0;
		right: 0;
		margin:0 auto;
}
@media screen and (max-width: 330px) {
	header #menuButton::before {
		top: -5px;
	}
	header #menuButton::after {
		top: 5px;
	}
	.content .navbar {
		width: 260px;
	}
	.navbar .info {
		font-size: 1rem;
		width: 65px;
	}
	.navbar .info::before {
		height: 2px;
	}

	.option #restart {
		font-size: 1.2rem;
	}
}
@media screen and (max-height: 400px) {
	.content {
		top: 30px;
	}
	header #menuButton::before {
		top: -5px;
	}
	header #menuButton::after {
		top: 5px;
	}
}
